<div class="container">
    <form [formGroup]="form">
        <div class="row">
            <div class="col">
                <mat-form-field appearance="standard" hintLabel="Le type est obligatoire">
                    <mat-label>Type</mat-label>
                    <mat-select matNativeControl name="type" formControlName="type">
                        <mat-option value="3">Hypoteque</mat-option>
                        <mat-option value="7">Taxes</mat-option>
                        <mat-option value="5">Facture</mat-option>
                        <mat-option value="4">Immobilier</mat-option>
                        <mat-option value="6">Divers</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="standard">
                    <mat-label>Destinataire</mat-label>
                    <input matInput maxlength="15" inputmode="text" placeholder="Destinataire" formControlName="destinataire" #destinataireInput>
                    <mat-hint>Mini character 3: {{ destinataireInput.value.length }}/3</mat-hint>
                    <mat-error>Le destinatire est obligatoire</mat-error>
                    <mat-error *ngIf="form.controls['destinataire'].errors?.['minlength']">
                        Entrez au moins de 3 caractères
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <mat-form-field appearance="standard">
                    <mat-label>Titre</mat-label>
                    <input matInput maxlength="40" inputmode="text" placeholder="Titre" formControlName="titre" #titreInput>
                    <mat-hint>Mini character 10: {{ titreInput.value.length }}/10</mat-hint>
                    <mat-error>Le titre est obligatoire</mat-error>
                    <mat-error *ngIf="form.controls['titre'].errors?.['minlength']">
                        Entrez au moins 10 caractères
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            
            <div class="col">
                <mat-form-field appearance="standard">
                    <mat-label>Selectionner la date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dateExpense">
                    <mat-datepicker-toggle matSuffix [for]="picker">
                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="standard">
                    <input matInput type="number" placeholder="Montant" formControlName="montant" #montantInput>
                </mat-form-field>
            </div>
        </div>
    
        <hr *ngIf="!form.controls['recurrenceFlag'].value"/>

        <div class="row">
            <div class="col">
                <mat-slide-toggle formControlName="recurrenceFlag">
                    Ajouter une recurrence personalisée
                </mat-slide-toggle>
            </div>
        </div>
        <br *ngIf="form.controls['recurrenceFlag'].value">
        <div class="row" *ngIf="form.controls['recurrenceFlag'].value">
            <div class="col">
                Répéter tout les 
                <input matInput type="number" formControlName="recSemaine" placeholder="0" style="width:40px; text-align: left;">&nbsp;&nbsp;&nbsp;
                <mat-select matNativeControl name="recType" placeholder="Semaine" formControlName="recType" style="width:100px; text-align: left;">
                    <mat-option value="1">Semaine</mat-option>
                    <mat-option value="2">Mois</mat-option>
                    <mat-option value="3">Année</mat-option>
                </mat-select>
            </div>
        </div>
        <br *ngIf="form.controls['recurrenceFlag'].value">
        <div class="row" *ngIf="form.controls['recurrenceFlag'].value">
            <mat-label>Répéter le :</mat-label>
            <div class="col">
                <mat-checkbox formControlName="recMonday">
                    Lundi
                </mat-checkbox>&nbsp;&nbsp;&nbsp;
                <mat-checkbox formControlName="recTuseday">
                    Mardi
                </mat-checkbox>&nbsp;&nbsp;&nbsp;
                <mat-checkbox formControlName="recWednesday">
                    Mercredi
                </mat-checkbox>&nbsp;&nbsp;&nbsp;
                <mat-checkbox formControlName="recThursday">
                    Jeudi
                </mat-checkbox>&nbsp;&nbsp;&nbsp;
                <mat-checkbox formControlName="recFriday">
                    Vendredi
                </mat-checkbox>&nbsp;&nbsp;&nbsp;
                <mat-checkbox formControlName="recSaturday">
                    Samedi
                </mat-checkbox>&nbsp;&nbsp;&nbsp;
                <mat-checkbox formControlName="recSunday">
                    Dimanche
                </mat-checkbox>
            </div>
        </div>
        
        <br *ngIf="form.controls['recurrenceFlag'].value">

        <div class="row" *ngIf="form.controls['recurrenceFlag'].value">
            <mat-label>Se termine le :</mat-label>
            <div class="col" style="padding-top: 15px;">
                <mat-radio-group aria-label="Se termine le " formControlName="recEndNever">
                    <mat-radio-button value="1">Jamais</mat-radio-button><br>
                    <mat-radio-button value="2">
                        <p style="margin-top:15px;">
                        Le <input matInput [matDatepicker]="picker2" formControlName="redDateEnd" style="width: 120px; padding-bottom: 10px;">
                        <mat-datepicker-toggle matSuffix [for]="picker2">
                            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                        </p>
                    </mat-radio-button><br>
                    <mat-radio-button value="3">Après <input matInput type="number" formControlName="redNbrOccurences" placeholder="0" style="width:30px; text-align: left;"> occurence(s)</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>

        <hr *ngIf="form.controls['recurrenceFlag'].value"/>

        <div class="row text-center">
            <div class="col">
                <button type="button" class="btn btn-primary" (click)="saveDetails(form)">Ajouter</button>
            </div>
        </div>
      
    </form>

    <!--<hr/>-->
    <!--
    <div class="row">
        <div class="col">{{ form.value | json }}</div>
    </div>
    -->
  </div>