@import "~bootstrap/scss/bootstrap";
/*

@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";

@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/helpers";
@import "~bootstrap/scss/utilities/api";
*/

* {
    font-size: 100%;
  }
  *:before,
  *:after {
    box-sizing: border-box;
  }
  body {
    margin: 0.5em;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 100%;
    /*min-width: 800px;*/
    min-width: 100%;
  }
  @media (max-width: 800px) {
    table .time {
      display: none;
    }
  }
  summary {
    padding-bottom: 0.25em;
    font-size: 1.5em;
    font-weight: 100;
    text-align: right;
  }
  tr {
    position: relative;
  }
  th {
    text-align: right;
    color: #999;
    font-weight: normal;
    font-size: 0.85em;
  }
  td {
    width: 14.285714286%;
  }
  .date {
    text-align: right;
    display: block;
    height: 0;
    font-size: 0.8em;
    padding: 0.25em;
    padding-bottom: 73%;
    position: relative;
    border-bottom: 1px solid #dedbdb;
    margin-left: 0.25em;
    margin-right: 0.25em;
  }
  tr:first-child:not(.current-week) .date {
    border-top: 1px solid #dedbdb;
  }
  .date ul,
  .date li {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #333;
  }
  .date ul {
    text-align: left;
    font-size: 0.9em;
    width: 100%;
    overflow: hidden;
    position: absolute;
    font-weight: normal;
  }
  .date li {
    color: #222;
    width: 100%;
    height: 1.4em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
  }
  .date li:before {
    content: '\2022';
    color: inherit;
    display: inline-block;
    padding-right: 0.25em;
  }
  .time {
    float: right;
    text-align: right;
    color: #999;
  }
  .event {
    color: #333;
  }
  .previous-week .date {
    border: none;
  }
  .current-week {
    border-top: 4px solid rgb(124 128 133 / 18%);
  }
  .current-day {
    background: #004a9f45;
    border-top: 4px solid #004a9f;
  }
  .current-day .date {
    font-weight: bold;
    color: #004a9f;
  }
  .weekend {
    background: rgb(188 201 217 / 17%);
  }

  /*a utliser dans les "li" pour la couleur de l'event*/
  .date .different-calendar {
    color: #00c800;
  }
  

  .outOfWeek {
    background-color: #b9b6c326; border: solid #FFF 2px;
  }

  .calendarBox {
    width: 92%;
    margin-left: 4%;
    border: solid;
    border-radius: 10px;
    border-color: #f0f2f5a6;
  }

  .eventCellScrollable{
    overflow:auto;
  }


  

.btn-primary{

  --bs-btn-color: #fff;
  --bs-btn-bg: #000a16;
  --bs-btn-border-color: #000a16;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #012854;
  --bs-btn-hover-border-color: #012854;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #012854;
  --bs-btn-active-border-color: #012854;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #012854;
  --bs-btn-disabled-border-color: #012854;

}

.btn-primary:hover{
  color: var(--bs-btn-hover-color);
  background-color: #031d3a;
  border-color: #031d3a;
}

.btn-primary:active{
  color: var(--bs-btn-hover-color);
  background-color: #031d3a;
  border-color: #031d3a;
}

.btn-primary:focus{
  color: var(--bs-btn-hover-color);
  background-color: #031d3a;
  border-color: #031d3a;
  --bs-btn-focus-shadow-rgb: 0, 0, 0;
}