<div class="row" style="margin-bottom: 20px; margin-top: 5px;">
    <div class="col-lg-4 col-md-12">
        <div class="row">
            <div class="col" style="margin: auto;" >
                <form [formGroup]="form">
                <select class="form-control-sm" formControlName="moisSelect" #moisSelect>
                    <option value="" disabled selected>Mois</option>
                    <option value="1">Janvier</option>
                    <option value="2">Février</option>
                    <option value="3">Mars</option>
                    <option value="4">Avril</option>
                    <option value="5">Mai</option>
                    <option value="6">Juin</option>
                    <option value="7">Juillet</option>
                    <option value="8">Aout</option>
                    <option value="9">Septembre</option>
                    <option value="10">Octobre</option>
                    <option value="11">Novembre</option>
                    <option value="12">Décembre</option>
                </select>
                <select class="form-control-sm" style="margin-left: 15px;" formControlName="anneeSelect" #anneeSelect>
                    <option disabled selected>Année</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                </select>
                <button type="button" class="btn btn-light" style="margin-left: 15px;" (click)="updateMainDate(+anneeSelect.value, +moisSelect.value,1)">Go</button>
                </form>
            </div>
            <div class="col" style="text-align: right;">
                <button type="button" class="btn btn-primary" (click)="addEvent()">Ajouter un event</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div style="width: 5%; float: left;">
        <button type="button" class="btn btn-light" style=" position: relative; right: 5px;" (click)="goToPreviousMonth()" >
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
    </div>
    <div class="col-lg-4 col-md-12 calendarMainBox" style="width: 90%; float: left;">
        <div class="row">
            <table>
                <thead>
                <tr>
                    <th>Lundi</th>
                    <th>Mardi</th>
                    <th>Mercredi</th>
                    <th>Jeudi</th>
                    <th>Vendredi</th>
                    <th>Samedi</th>
                    <th>Dimanche</th>
                </tr>
                </thead>
                
                <tr [ngClass]="{'current-week': currentWeek == 1}">
                    <td *ngFor="let dayNumberWeek1 of calendarWeek1; let i = index"  class="eventCellScrollable" >
                        <div 
                            [ngClass]="{
                                'weekend': i >= 5, 
                                'outOfWeek': dayNumberWeek1[0] == 'out', 
                                'current-day': dayNumberWeek1[0] == 'current'
                            }">
                            <span class="date">
                                <b>{{ dayNumberWeek1[1] }}</b>
                                <br>
                                <ul *ngIf="dayNumberWeek1[2]">
                                    <li *ngFor="let dayEvent of events[dayNumberWeek1[2]]; let i=index">
                                        <span class="event">{{ dayEvent.titre }}</span>
                                        <span class="updateEvent" (click)="udpateEvent(dayEvent.id)">
                                            <!-- {{ dayEvent.start_time }} -->
                                            <mat-icon>open_in_new</mat-icon>
                                        </span>
                                    </li>
                                </ul>
                            </span>
                        </div>
                    </td>
                </tr>
                <tr [ngClass]="{'current-week': currentWeek == 2}">
                    <td *ngFor="let dayNumberWeek2 of calendarWeek2; let i = index" class="eventCellScrollable" >
                        <div 
                        [ngClass]="{
                            'weekend': i >= 5, 
                            'outOfWeek': dayNumberWeek2[0] == 'out', 
                            'current-day': dayNumberWeek2[0] == 'current'
                        }">
                            <span class="date">
                                <b>{{ dayNumberWeek2[1] }}</b>
                                <br>
                                <ul *ngIf="dayNumberWeek2[2]">
                                    <li *ngFor="let dayEvent of events[dayNumberWeek2[2]]; let i=index">
                                        <span class="event">{{ dayEvent.titre }}</span>
                                        <span class="updateEvent" (click)="udpateEvent(dayEvent.id)">
                                            <!-- {{ dayEvent.start_time }} -->
                                            <mat-icon>open_in_new</mat-icon>
                                        </span>
                                    </li>
                                </ul>
                            </span>
                        </div>
                    </td>
                </tr>
                <tr [ngClass]="{'current-week': currentWeek == 3}">
                    <td *ngFor="let dayNumberWeek3 of calendarWeek3; let i = index" class="eventCellScrollable" >
                        <div 
                        [ngClass]="{
                            'weekend': i >= 5, 
                            'outOfWeek': dayNumberWeek3[0] == 'out', 
                            'current-day': dayNumberWeek3[0] == 'current'
                        }">
                            <span class="date">
                                <b>{{ dayNumberWeek3[1] }}</b>
                                <br>
                                <ul *ngIf="dayNumberWeek3[2]">
                                    <li *ngFor="let dayEvent of events[dayNumberWeek3[2]]; let i=index">
                                        <span class="event">{{ dayEvent.titre }}</span>
                                        <span class="updateEvent" (click)="udpateEvent(dayEvent.id)">
                                            <!-- {{ dayEvent.start_time }} -->
                                            <mat-icon>open_in_new</mat-icon>
                                        </span>
                                    </li>
                                </ul>
                            </span>
                        </div>
                    </td>
                </tr>
                <tr [ngClass]="{'current-week': currentWeek == 4}">
                    <td *ngFor="let dayNumberWeek4 of calendarWeek4; let i = index" class="eventCellScrollable" >
                        <div 
                        [ngClass]="{
                            'weekend': i >= 5, 
                            'outOfWeek': dayNumberWeek4[0] == 'out', 
                            'current-day': dayNumberWeek4[0] == 'current'
                        }">
                            <span class="date">
                                <b>{{ dayNumberWeek4[1] }}</b>
                                <br>
                                <ul *ngIf="dayNumberWeek4[2]">
                                    <li *ngFor="let dayEvent of events[dayNumberWeek4[2]]; let i=index">
                                        <span class="event">{{ dayEvent.titre }}</span>
                                        <span class="updateEvent" (click)="udpateEvent(dayEvent.id)">
                                            <!-- {{ dayEvent.start_time }} -->
                                            <mat-icon>open_in_new</mat-icon>
                                        </span>
                                    </li>
                                </ul>
                            </span>
                        </div>
                    </td>
                </tr>
                <tr [ngClass]="{'current-week': currentWeek == 5}">
                    <td *ngFor="let dayNumberWeek5 of calendarWeek5; let i = index" class="eventCellScrollable" >
                        <div [ngClass]="{'weekend': i >= 5, 'outOfWeek': dayNumberWeek5[0] >= 'out', 'current-day': dayNumberWeek5[0] == 'current'}">
                            <span class="date">
                                <b>{{ dayNumberWeek5[1] }}</b>
                                <br>
                                <ul *ngIf="dayNumberWeek5[2]">
                                    <li *ngFor="let dayEvent of events[dayNumberWeek5[2]]; let i=index">
                                        <span class="event">{{ dayEvent.titre }}</span>
                                        <span class="updateEvent" (click)="udpateEvent(dayEvent.id)">
                                            <!-- {{ dayEvent.start_time }} -->
                                            <mat-icon>open_in_new</mat-icon>
                                        </span>
                                    </li>
                                </ul>
                            </span>
                        </div>
                    </td>
                </tr>
                <tr [ngClass]="{'current-week': currentWeek == 6}">
                    <td *ngFor="let dayNumberWeek6 of calendarWeek6; let i = index" class="eventCellScrollable" >
                        <div [ngClass]="{'weekend': i >= 5, 'outOfWeek': dayNumberWeek6[0] >= 'out', 'current-day': dayNumberWeek6[0] == 'current'}">
                            <span class="date">
                                <b>{{ dayNumberWeek6[1] }}</b>
                                <br>
                                <ul *ngIf="dayNumberWeek6[2]">
                                    <li *ngFor="let dayEvent of events[dayNumberWeek6[2]]; let i=index">
                                        <span class="event">{{ dayEvent.titre }}</span>
                                        <span class="updateEvent" (click)="udpateEvent(dayEvent.id)">
                                            <!-- {{ dayEvent.start_time }} -->
                                            <mat-icon>open_in_new</mat-icon>
                                        </span>
                                    </li>
                                </ul>
                            </span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
    <div style="width: 5%; float: left;">
        <button type="button" class="btn btn-light"  style=" position: relative; right: 5px;" (click)="goToNextMonth()">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div>

</div>