<div class="row" style="margin-bottom: 20px; margin-top: 5px;">
    <div class="col-lg-4 col-md-12">
        <div class="row">
            <div class="col" style="margin: auto;">
                <select class="form-control-sm">
                    <option>Mois</option>
                    <option>Janvier</option>
                    <option>Février</option>
                    <option>Mars</option>
                    <option>Avril</option>
                    <option>Mai</option>
                    <option>Juin</option>
                    <option>Juillet</option>
                    <option selected="selected">Aout</option>
                    <option>Septembre</option>
                    <option>Octobre</option>
                    <option>Novembre</option>
                    <option>Décembre</option>
                </select>
                <select class="form-control-sm" style="margin-left: 15px;">
                    <option>Année</option>
                    <option>2020</option>
                    <option>2021</option>
                    <option selected="selected">2022</option>
                    <option>2023</option>
                </select>
                <button type="button" class="btn btn-light" style="margin-left: 15px;">Go</button>
                <!--February 2014-->
            </div>
            <div class="col" style="text-align: right;">
                <button type="button" class="btn btn-primary" (click)="addEvent()">Ajouter un event</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-md-12">
        <div class="row">
            <table>
                <thead>
                <tr>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                    <th>Sun</th>
                </tr>
                </thead>
                <tr>
                    <td style="background-color: #b9b6c326; border: solid #FFF 2px;">
                        <span class="date">
                    27
                    <ul>
                        <li>
                        <span class="event">Bus Stop</span>
                        <span class="time">4 pm</span>
                        </li>
                    </ul>  
                        </span>
                    </td>
                    <td style="background-color: #b9b6c326; border: solid #FFF 2px;">
                        <span class="date">28</span>
                    </td>
                    <td style="background-color: #b9b6c326; border: solid #FFF 2px;">
                        <span class="date">29</span>
                    </td>
                    <td style="background-color: #b9b6c326; border: solid #FFF 2px;">
                        <span class="date">30</span>
                    </td>
                    <td style="background-color: #b9b6c326; border: solid #FFF 2px;">
                        <span class="date">31</span>
                    </td>
                    <td class="weekend">
                        <span class="date">February 1</span>
                    </td>
                    <td class="weekend">
                        <span class="date">
                        2
                        <ul>
                            <li>
                                <span class="event">Super Bowl</span>
                                <span class="time">6:30 pm</span>
                            </li>
                        </ul>  
                        </span>
                    </td>
                </tr>
                <tr class="previous-week">
                    <td>
                        <span class="date">3</span>
                    </td>
                    <td>
                        <span class="date">4</span>
                    </td>
                    <td>
                        <span class="date">5</span>
                    </td>
                    <td>
                        <span class="date">6</span>
                    </td>
                    <td>
                        <span class="date">7</span>
                    </td>
                    <td class="weekend">
                        <span class="date">8</span>
                    </td>
                    <td class="weekend">
                        <span class="date">9</span>
                    </td>
                </tr>
                <tr class="current-week">
                    <td>
                        <span class="date">10</span>
                    </td>
                    <td>
                        <span class="date">11</span>
                    </td>
                    <td>
                        <span class="date">12</span>
                    </td>
                    <td>
                        <span class="date">13</span>
                    </td>
                    <td class="current-day">
                        <span class="date">
                            14
                            <ul>
                                <li class="different-calendar"><span class="event">Valentines Day</span></li>
                            </ul>  
                        </span>
                    </td>
                    <td class="weekend">
                        <span class="date">15</span>
                    </td>
                    <td class="weekend">
                        <span class="date">16</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="date">17</span>
                    </td>
                    <td>
                        <span class="date">18</span>
                    </td>
                    <td>
                        <span class="date">19</span>
                    </td>
                    <td>
                        <span class="date">20</span>
                    </td>
                    <td>
                        <span class="date">21</span>
                    </td>
                    <td class="weekend">
                        <span class="date">22</span>
                    </td>
                    <td class="weekend">
                        <span class="date">23</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="date">24</span>
                    </td>
                    <td>
                        <span class="date">
                            25
                            <ul>
                                <li class="different-calendar">
                                    <span class="event">Seulement 17 char</span>
                                    <span class="time">10 am</span>
                                </li>
                                <li>
                                    <span class="event">Code Review</span>
                                    <span class="time">Noon</span>
                                </li>
                                <li>
                                    <span class="event">Project X Kickoff</span>
                                    <span class="time">5 pm</span>
                                </li>
                            </ul>  
                        </span>
                    </td>
                    <td>
                        <span class="date">26</span>
                    </td>
                    <td>
                        <span class="date">27</span>
                    </td>
                    <td>
                        <span class="date">28</span>
                    </td>
                    <td class="weekend" style="background-color: #b9b6c326; border: solid #FFF 2px;">
                        <span class="date">March 1</span>
                    </td>
                    <td class="weekend" style="background-color: #b9b6c326; border: solid #FFF 2px;">
                        <span class="date">2</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
</div>