.main {
    width: 100%;height:98%;
}

.canvasBlock{
    width: 100%;
    height: 100%;
    padding-top: 0%;
    padding-bottom:0%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    //todo
}
  
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    //todo
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    //todo
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    //todo
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    //todo
}