<div class="container">
    
    <div class="row">
        <div class="col-sm-3">
            <p class="mb-0">Nom et Prénom</p>
        </div>
        <div class="col-sm-9">
            <p class="text-muted mb-0">{{profileUser.nom}} {{profileUser.prenom}}</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <p class="mb-0">Email</p>
        </div>
        <div class="col-sm-9">
            <p class="text-muted mb-0">{{profileUser.email}}</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <p class="mb-0">Type de profile</p>
        </div>
        <div class="col-sm-9">
            <p class="text-muted mb-0">{{profileUser.typeProfil}}</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <p class="mb-0">Date de naissance</p>
        </div>
        <div class="col-sm-9">
            <p class="text-muted mb-0">{{profileUser.dateNaissance}}</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <p class="mb-0">Adresse</p>
        </div>
        <div class="col-sm-9">
            <p class="text-muted mb-0">{{profileUser.adresse}}</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <p class="mb-0">Ville</p>
        </div>
        <div class="col-sm-9">
            <p class="text-muted mb-0">{{profileUser.ville}}</p>
        </div>
    </div>
    <hr>
    <button type="button" class="btn btn-primary" (click)="logout()">Se deconnecter</button>

</div>